.header{
    grid-area: header;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #c36dd5, #5b3be9);
    margin-top: 5px;
    border-radius: 6px;
}

.header h3{
    color: #fff;
}

.header a{
    color: #fff;
}