.header{
    grid-area: header;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #c36dd5, #5b3be9);
    margin-top: 5px;
    border-radius: 6px;
}

.header h3{
    color: #fff;
}

.header a{
    color: #fff;
}
.auth_info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link_to_profile{
    text-decoration: none;
    font-weight: 700;
    transition: all 0.1s linear;
}

.link_to_profile:hover{
    border-bottom: 2px solid #fff;
}

.logout_button{
    text-decoration: none;
    transition: all 0.1s linear;

}

.logout_button:hover{
    border-bottom: 2px solid #fff;
}

.login_button{
    font-weight: 700;
    text-decoration: none;
    transition: all 0.1s linear;
}

.login_button:hover{
    border-bottom: 2px solid #fff;
}