.nav{
    grid-area: nav;
    padding: 0 10px;

    
}


.link_wrapper{
    display: flex;
    flex-direction: row;
    align-items: end;
    margin-bottom: 10px;
}

.nav_link{
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    margin-left: 10px;
}

