body{
  min-height: 100vh;
  background: linear-gradient(315deg, #00CED1 , #DA70D6 60%);
  width: 100%;
}
.App {
  display: grid;
  grid-template-rows: 80px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
  "header header"
  "nav content";
  width: 1200px;
  margin: 0 auto;
}



.content{
  grid-area: content;
  padding: 0 200px;
}